/* Import a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #000000 0%, #333333 100%);
    animation: backgroundAnimation 10s infinite alternate;
}

@keyframes backgroundAnimation {
    0% {
        background: linear-gradient(135deg, #000000 0%, #333333 100%);
    }
    50% {
        background: linear-gradient(135deg, #333333 0%, #000000 100%);
    }
    100% {
        background: linear-gradient(135deg, #000000 0%, #333333 100%);
    }
}

.login-container, .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.login-logo img, .register-logo img {
    width: 250px;
    margin-bottom: 40px;
}

.login-form-container, .register-form-container {
    width: 100%;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #2575fc;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

.new-user, .existing-user {
    text-align: center;
    margin-top: 20px;
}

.new-user p, .existing-user p {
    margin-bottom: 10px;
    color: #555;
}

.new-user a, .existing-user a {
    color: #2575fc;
    text-decoration: none;
    font-weight: bold;
}

.new-user a:hover, .existing-user a:hover {
    text-decoration: underline;
}

#error, #register-error {
    color: red;
    text-align: center;
    margin-top: 10px;
}
