body{
    background-color: #005B2F;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:#E8DBDB;
}

#container{
    background-color:#000000;
}
#logo-pic{
   height: 20vh;
    width: auto;
}

.header{
    align-items:center;
    text-align:center;
}

.category{
    display: flex;
    justify-content: left;
    margin-top: 10px;
    padding: 10px;
    background-color: #000000;
    height:40vh;
    width:100%;
    overflow-x: auto; /*horizontal scroll*/
    overflow-y:hidden;
    white-space: nowrap;
    margin-bottom:5%;
}

.show{
    display:inline-block;
    border:1px solid white;
    margin: 5px;
    height:100%;
    min-width:15%;
}

.category-title{
    margin-left:5%;
}