body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('https://drive.google.com/file/d/1V5oInp3PxaD56U_Hb14olimVjLq3mdbT/view?usp=drive_link'); /* Optional: background image */
    background-size: cover;
}

header, footer {
    background-color: #ff0000; /* Mickey's red */
    padding: 10px;
    text-align: center;
    color: #ffffff; /* White text */
    font-weight: bold;
}

.login-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gif-container {
    text-align: center;
    margin-bottom: 20px;
}

.gif-container img {
    width: 100%;
    max-width: 400px; /* Adjust as necessary */
    height: auto;
    border-radius: 10px;
}

.gif-container .gif-text {
    margin-top: 10px;
    font-size: 16px;
    color: #ffcc00; /* Mickey's yellow */
    font-weight: bold;
}

.login-form {
    background-color: #000000; /* Black background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    color: #ffffff; /* White text */
    border: 5px solid #ffcc00; /* Mickey's yellow */
}

.login-form .heading h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffcc00; /* Mickey's yellow */
}

.flex-input {
    margin-bottom: 15px;
}

.flex-input input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

.flex-input input[type="text"], 
.flex-input input[type="password"] {
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    border: 2px solid #ffcc00; /* Mickey's yellow */
}

.flex-input input[type="submit"] {
    background-color: #ff0000; /* Mickey's red */
    color: #ffffff; /* White text */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.flex-input input[type="submit"]:hover {
    background-color: #cc0000; /* Darker red */
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #ffcc00; /* Mickey's yellow */
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #cc9900; /* Darker yellow */
}

.error-message {
    color: #ff0000; /* Red for error */
    margin-top: 10px;
}